* {
    color: white;
}

html {
    background-color: #121212;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin-bottom: 0.5rem;
}

input {
    width: 20ch;
    color: black;
}

button {
    margin-top: 1rem;
    color: black;
}